.App {
  font-family: sans-serif;
  text-align: left;
}

@media only screen and (max-width: 480px) {
  #templateColumns {
    width: 100% !important;
  }

  .templateColumnContainer {
    display: block !important;
    width: 100% !important;
  }

  .columnImage {
    height: auto !important;
    max-width: 480px !important;
    width: 100% !important;
  }

  .leftColumnContent {
    font-size: 16px !important;
    line-height: 125% !important;
  }

  .rightColumnContent {
    font-size: 16px !important;
    line-height: 125% !important;
  }
}
